html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, h1, h2, h3, h4, h5, h6, p {
  overflow:hidden;
  display: block;
  margin:0;
  padding:0;
  font-family: 'Righteous', cursive;
  color: #000;

  background-color: #fff;
}

.Page {
  display: inline-block;
  width: calc(100% / 3);
  height: 100%;
}

#Casino {
  margin-top: 10px;
}

#Drugs {
  display: inline-block;
}

#c1 {
  background-color: #912556;
}

#c2 {
  background-color: #B94AB9;
}

#c3 {
  background-color: #C03232;
}

#c4 {
  background-color: #4452B9;
}

#c5 {
  background-color: #00a7c1;
}

#c6 {
  background-color: #00c12d;
}

#c7 {
  background-color: #a6b200;
}

#c8 {
  background-color: #efefef;
}

#centerLine {
  position: absolute;
  float: left;
  margin-left: calc(50% - 5px);
  height: 75px;
  width: 3px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  background-color: #fff;
}

.spinItem {
  position: relative;
  z-index: -10;
  height: 75px;
  width: 74px;
  display: inline-block;
  background-color: transparent;
  line-height: 37px;
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, .5);
  font-size: 8px;
}

.spinItem:first-child {
  margin-left: -1466.5px;
}

#spinner {
  z-index: -100;
  height: 75px;
  font-size: 100%;
  padding-left: 45%;
  margin-left: 5%;
  width: 45%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 15px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 15px 3px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 15px 3px rgba(0,0,0,0.75);
}
#cnt {
  margin: 10px;
  white-space: nowrap;
}

#odds{ 
  width: 25%;
  display: inline-block;
  white-space: nowrap;
  background-color: #ddd;
  height: 600px;
  vertical-align: top;
  margin: 0 10px;
}

#colors{
  width: 20%;
  display: inline-block;
  white-space: nowrap;
  background-color: #ddd;
  height: 600px;
  vertical-align: top;
  margin: 0 10px;
}

#colors p {
  color: black;
  margin: 0;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #ddd;
  padding: 10px 0;
  text-transform: uppercase;
}

.color {
  display: block;
  width: 50px;
  height: 50px;
  border: 3px solid gray;
  border-radius: 5px;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
}

#bets {
  width: 25%;
  display: inline-block;
  white-space: nowrap;
  background-color: #ddd;
  height: 600px;
  vertical-align: top;
  margin: 0 10px;
}

#players {
  width: calc(100% - 70% - 95px);
  display: inline-block;
  white-space: nowrap;
  background-color: #ddd;
  height: 600px;
  vertical-align: top;
  margin: 0 10px;
}

#players p {
  text-transform: uppercase;
  background-color: #ddd;
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0;
}

#players table {
  width: 80%;
  display: block;
  position: relative;
  margin: 0 auto;
}

#players table tbody {
  width: 100%;
  display: block;
}

#players table tbody tr {
  width: 100%;
  display: block;
}

#players table tbody tr td {
  width: calc(100%/3);
  padding: 10px 0;
  text-align: center;
  display: inline-block;
}

#winodds {
  width: 70%;
  display: block;
  position: relative;
  margin: 10px auto;
  border: 3px solid gray;
  border-radius: 5px;
}

#loseodds {
  width: 50%;
  display: block;
  position: relative;
  margin: 20px auto;
  border: 3px solid gray;
  border-radius: 5px;
}

#odds p {
  color: black;
  margin: 0;
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #ddd;
  padding: 10px 0;
  text-transform: uppercase;
}

#winodds p {
  padding: 10px;
  width: calc(100% - 20px);
}

#bigwin, #biglose {
  font-size: 40px;
}

#curramount{
  width: 80%;
  display: block;
  margin: 30px auto;
  position: relative;
  text-align: center;
  background-color: #ddd;
}

#ammountyouhave{
  width: 80%;
  display: block;
  margin: 30px auto;
  position: relative;
  text-align: center;
  background-color: #ddd;
}

#bets section *{
  display: inline;
  margin: 7%;
}

#bets section p{
  background-color: #ddd;
}

#addamt {
  background-color: #00c12d;
  border: 3px solid #00C12C;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  cursor: pointer;
}

#subamt {
  background-color: #C03232;
  border: 3px solid #C03232;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  cursor: pointer;
}

#loadBar {
  height: 5px;
  width: 90%;
  display: block;
  margin: 0 auto;
}

#loadFill {
  height: 5px;
  background-color: gray;
  width: 0;
  margin: 0;
  padding: 0;
}

#innerSpin {
  opacity: 0;
  transition: opacity .5s ease, margin-left 9.5s cubic-bezier(0,.54,0,1);
}

#slidecontent {
  width: 300%;
  margin: 0;
  margin-left: 0;
  transition: all 1s ease;
  display: none;
}

#files {
  display: none;
}

#files li{
  display: inline-block;
  padding: 10px 20px;
  padding-bottom: 0;
  background-color: white;
  cursor: pointer;
}

.lifocused {
  height: 30px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

nav hr {
  margin-top: -1px;
}

#runs  {
  width: calc(65%);
  display: inline-block;
  white-space: nowrap;
  background-color: #ddd;
  height: 600px;
  vertical-align: top;
  margin: 0 10px;
}

#runs p{
  background-color: #ddd;
  font-size: 30px;
  padding: 10px;
}

#orders  {
  width: calc(30%);
  display: inline-block;
  white-space: nowrap;
  background-color: #ddd;
  height: 600px;
  vertical-align: top;
  margin: 0 10px;
}